.Contact {
  background: #242424;
}

.heading {
  font-size: 105px;
  font-weight: 700;
}

.text {
  font-weight: 600;
  font-size: 19px;
  width: 400px;
  line-height: 1.3;
  color: #d9d9d9;
}

input,
textarea {
  font-size: 23px;
  padding-left: 10px;
  /* color: #757575; */
  width: 430px;
  font-weight: 600;
  margin-top: 40px;
}

/* .message {
  height: 70px;
} */
